<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ABOUT THE API</title>
</head>
<body>
  <div class="row">
     <br><br><br><br>
    <div class="col s4">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ullam eos facilis, vitae laborum doloribus accusantium laudantium iure officiis molestias. Deserunt blanditiis eveniet voluptates vitae maxime illum porro quae placeat aliquid? Hic iste molestiae iure sint non nam accusamus nisi, recusandae earum corrupti doloremque veniam eligendi doloribus? Voluptate, distinctio asperiores neque nostrum impedit perferendis quam, deserunt inventore sunt quis hic mollitia accusantium ducimus sit alias autem consequatur earum sint soluta voluptates. Accusamus voluptates dolor, soluta aliquid molestiae incidunt ab ullam. Molestias blanditiis a iusto nam officiis praesentium nihil est eligendi earum. Cupiditate recusandae nesciunt cumque voluptates, voluptatibus corrupti ipsum veniam!</p>
    </div>
    <div class="col s8">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempora numquam repellendus nam quo id dolores natus perferendis eos. Iste architecto optio doloremque labore hic fugiat deserunt distinctio soluta. Accusantium, cumque deserunt quae natus atque quasi sit assumenda dolor dolores tempore sapiente, corporis dicta! Illum optio voluptatum aliquid pariatur itaque unde ipsam harum. Illo optio dolor voluptatem perferendis maiores, quisquam recusandae voluptas ipsum repellendus saepe nemo similique numquam assumenda tenetur rerum dolorum, voluptates reiciendis quis tempore cumque! Adipisci reprehenderit fugit nemo iusto laborum quaerat asperiores dolorum consequuntur, dolore id optio aut velit sequi ipsum unde magni vel, mollitia odit architecto!</p>
    </div>
  </div>
</body>
</html>