<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
</head>
<body>
    <div class="row">
      <br><br><br><br>
    <div class="col s8">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ullam eos facilis, vitae laborum doloribus accusantium laudantium iure officiis molestias. Deserunt blanditiis eveniet voluptates vitae maxime illum porro quae placeat aliquid? Hic iste molestiae iure sint non nam accusamus nisi, recusandae earum corrupti doloremque veniam eligendi doloribus? Voluptate, distinctio asperiores neque nostrum impedit perferendis quam, deserunt inventore sunt quis hic mollitia accusantium ducimus sit alias autem consequatur earum sint soluta voluptates. Accusamus voluptates dolor, soluta aliquid molestiae incidunt ab ullam. Molestias blanditiis a iusto nam officiis praesentium nihil est eligendi earum. Cupiditate recusandae nesciunt cumque voluptates, voluptatibus corrupti ipsum veniam!</p>
    </div>
    <div class="col s4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eos nulla voluptate ad minus consequatur dolorum nostrum possimus reiciendis. Commodi facilis nihil, nostrum adipisci ipsam animi nulla amet sunt impedit eius perferendis ut ad aperiam quo repudiandae velit qui iure voluptatum autem! Placeat quos deserunt adipisci possimus vitae itaque reprehenderit, saepe sunt debitis facilis quae aliquid similique iste! Non optio accusamus placeat provident dolores illo ipsam deserunt quibusdam laudantium, amet qui id in consequatur atque expedita magnam. Veniam esse ab hic quisquam corporis, optio est assumenda aliquid non eum aut reiciendis facilis sed voluptatum adipisci. Facere libero nemo labore quos.</p>
    </div>
  </div>
</body>
</html>