<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-4">

    <a class="navbar-brand" href="#">AuthZeroApp</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
 
        <li class="nav-item">
          <a   
           class="nav-link" 
           routerLink="/">
           Home
           </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/account"
            *ngIf="auth.isAuthenticated()" >Account</a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/profile"
          *ngIf="auth.isAuthenticated()" >Profile</a>
        </li>
 
      </ul>

      <ul class="navbar-nav">
          <li>
              <a class="nav-link" href="#"
              *ngIf="auth.isAuthenticated()" 
              routerLink="/profile" >{{profile?.name}}</a>
            </li>
          <li>
              <a class="nav-link" href="#"
              *ngIf="!auth.isAuthenticated()" 
              (click)="auth.login()" >Login</a>
            </li>
            <li>
                <a class="nav-link" href="#"
                *ngIf="auth.isAuthenticated()"
                (click)="auth.logout()" >Logout</a>
            </li>
            <li>
                <a class="nav-link btn btn-info" href="#"
                *ngIf="auth.isAuthenticated()"
                routerLink="/signup" >UPDATE PROFILE</a>
            </li>

      </ul>

    </div> 
  </nav> <br><br><br><br><br><br><br><br>

  <div class="container">
      <router-outlet></router-outlet>
  </div>

